@model IEnumerable<AdminPlatfform.Web.Models.Events>

@{
    ViewBag.Title = "Überblick";
}

<h2>Alle Einträge</h2>

<style>
    html, body {
        height: 100%;
    }

    body, html {
        /* The image used */
        background-image: url('../../images/mia-baker-CuoMduHwRZY-unsplash.jpg');
        /* Full height */
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    th {
        color:gray;
    }
    th:hover{
        color:black;
    }
    td {
        color:white;
    }
</style>
<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Suchen..." value="@ViewData["Getdetais"]" name="searchString" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a href="~/UrlaubAdmin/Index">Get All Info </a>
    </p>

</form>
<table class="table">
    <tr>

        <th>
            Vorname und Personalnummer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th>
            Status
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeColor)
            </td>


        </tr>
    }

</table>
<a href="@Url.Action("Index", "FirstLayout")" class="btn btn-info">Zurück</a>
