@model IEnumerable<AdminPlatfform.Web.Events>


@{
    ViewBag.Title = "Index";
}

<h2>Alle Einträge </h2>
<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Suchen..." value="@ViewData["Getdetais"]" name="searchString" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a href="~/UrlaubAdmin/Index">Get All Info </a>
    </p>

</form>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Personalnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDatum)
        </th>
        <th>
            Status
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeColor)
            </td>


        </tr>
    }

</table>

<a href="@Url.Action("Index", "FirstLayout")" class="btn btn-info">Zurück</a>
