@model AdminPlatfform.Web.Models.Admin_Geschäftfuehrer

@*View Home*@

@{
    ViewBag.Title = "Login";
}
@* CSS Code  *@
<style>
    .field-validation-error {
        color: red;
    }

    .all
    {
        padding-left: 450px;
        padding-top: 170px;
        text-align: center;
        display: inline-block;
    }

    body, html {
        height: 100%;
    }

    body, html {
        /* The image used */
        background-image: url("../../images/galymzhan-abdugalimov-ICW6QYOcdlg-unsplash.jpg");
        /* Full height */
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .field-validation-error {
        color: red;
    }
    .allbutton {
        margin-left: 5px;
    }

    h2 {
        color: white;
        padding-left: 40px;
    }

    #a1 {
        color: white;
    }

    #bild {
        margin-left: 15px;
        padding-left: 15px;
    }
</style>
@* HTML Komponenten *@
<body>
    <div class="all">
        <h2>Login as Admin</h2>


        @using (Html.BeginForm("Autherize", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()


            <div id="a1">@Html.LabelFor(model => model.Username)</div>

            @Html.EditorFor(model => model.Username)

            <p>@Html.ValidationMessageFor(model => model.Username)</p>

            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <div id="a1">@Html.LabelFor(model => model.Password)</div>
                    @Html.EditorFor(model => model.Password)
                </div>

                <p>@Html.ValidationMessageFor(model => model.Password)</p>
            </div>
            <div class="allbutton">
                <input type="submit" id="button" class="btn" name="name" value="Login" />
                <a href="@Url.Action("AddOrEdit", "AdminEng")" class="btn btn-primary">Registieren</a>
                <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>

            </div>
        }
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
