@* Hier wurde alle Anträge für Geschäftsführer angezeigt *@
@model IEnumerable<JahresUrlaub.Web.Models.Events>

<style>
    #Bea{
        background-color:blue;
        color:white;
    }

    #Gen{
        background-color:green;
        color:white;
    }
    #Ab{
        background-color:red;
        color:white;
    }
</style>

    @* Hier die List wo alle Daten von Urlaub der Mitarbeitern wie Start-EndDatum gezeigt *@
    <table class="table-condensed">
        <tr>
            <th>
                Vorname und Personalnummer
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        @if (item.ThemeColor.ToString() == "Blue")
        {
            <td id="Bea">
                Noch in Bearbeitung
            </td>
        }
        @if (item.ThemeColor.ToString() == "Green")
        {
            <td id="Gen">
                Genehmigt
            </td>
         }
        @if (item.ThemeColor.ToString() == "red")
        {
            <td id="Ab">
              Leider ist Abgelegt
             </td>
        }

    </tr>
        }

    </table>
 
