@* FirstPage nach einloggen von Mitarbeiter *@


    <html>
    @{
        ViewBag.Title = "FirstPage";
    }
    @* CSS Code  *@
    <style>
        .vl {
            border-left: 6px solid green;
            margin-top: 20px;
            margin-left: 80px;
        }

        #bild {
            margin-right: 100px;
            margin-top: 70px;
            margin-bottom:-30px;
        }

        .allbutton {
            margin-right: 5px;
            margin-left: 20px;
            margin-top: 70px;
        }

        #username {
            margin-top: -1px;
        }

        #bild1 {
            width: 500px;
            height: 400px;
            margin-left: 200px;
            margin-top: 40px;
        }

        #GruppElement {
            margin-left: 60px;
            margin-top: 50px;
        }

        .btn {
            margin-top: 10px;
            margin-right: -10px;
        }

        #addbild1 {
            margin-left: 20px;
            ;
        }

        #GruppElement1 {
            margin-left: 380px;
            margin-top: -145px;
        }

        #GruppElement2 {
            margin-left: 700px;
            margin-top: -145px;
        }

        html, body {
            height: 100%;
        }

        body, html {
            /* The image used */
            background-image: url('../../Images/aaron-huber---WbZltaVww-unsplash.jpg');
            /* Full height */
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #out {
            margin-left: 1000px;
        }
        #GruppElement3 {
            margin-left: 1000px;
            margin-top: -145px;
        }
        #btt4 {
            margin-left: 20px;
        }
        h5{
            padding-top:-50px;
            padding-left:20px;
            color:black;
            font-weight:bold;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    @* HTML Komponenten wie Input und Label *@
    <body>

        <img src="~/Images/profile.png" width="80" height="50" id="bild" />


        @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
        {

            <input id="out" type="submit" value="Logout" class="btn btn-default" />
        }
        @if (Session["UserID"] != null)
        {


            <h5> Herzlich Willkomen @Session["Lastname"].ToString()</h5>
            <span id="all">
                <div id="GruppElement">
                    <img src="~/Images/add.png" id="addbild1" width="100" height="100" />

                    <br />
                    <a href="@Url.Action("Index", "Urlaub")" class="btn btn-success">Urlaub-beantragen</a>
                </div>
                <div id="GruppElement1">
                    <img src="~/Images/folder.png" id="addbild1" width="100" height="100" />
                    <br />
                    <a href="@Url.Action("Status", "Status")" class="btn btn-success">Urlaub-Status</a>
                </div>
                <div id="GruppElement2">
                    <img src="~/Images/paket.png" id="addbild1" width="100" height="100" />
                    <br />
                    <a href="@Url.Action("Edit", "Urlaub")" class="btn btn-success">Urlaub-bearbeiten</a>
                </div>
                <div id="GruppElement3">
                    <img src="~/Images/notification.png" id="addbild1" width="100" height="100" />
                    <br />
                    <a href="https://localhost:44354/" class="btn btn-success" id="btt4">Notifikation</a>
                </div>


            </span>
        }
    </body>
</html>

<!-- Kalendar Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form method="get" asp-action="Index">
                    <p>
                        <input type="search" placeholder="Suchen..." value="@ViewData["Getdetais"]" name="searchString" style="width:500px;" />
                        <input type="submit" value="Search" class="btn btn-primary" />

                    </p>
                    <!-- Ajax -- Schnittstelle mit Controller -->
                    <script>
                        $(document).ready(function () {
                            var events = [];
                            var selectedEvent = null;
                            FetchEventAndRenderCalendar();
                            function FetchEventAndRenderCalendar() {
                                events = [];
                                $.ajax({
                                    type: "GET",
                                    url: "/UFirstPage/GetEvents",
                                    success: function (data) {
                                        $.each(data, function (i, v) {
                                            events.push({
                                                eventID: v.EventID,
                                                title: v.Subject,
                                                description: v.Description,
                                                start: moment(v.Start),
                                                end: v.End != null ? moment(v.End) : null,
                                                color: v.ThemeColor,
                                                allDay: v.IsFullDay
                                            });
                                        })

                                        GenerateCalender(events);
                                    },
                                    error: function (error) {
                                        alert('failed');
                                    }
                                })
                            }
                    </script>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
        