@* Home Page View der Anwendung *@
@model JahresUrlaub.Web.Models.Users


@{
    ViewBag.Title = "Login";
}
@* CSS Code  *@
<style>
    h2 {
        color: white;
        padding-left: 25px;
    }

    .all {
        padding-left: 450px;
        padding-top: 170px;
        text-align: center;
        display: inline-block;
    }

    .field-validation-error {
        color: red;
        font-weight: bold;
        font-family: Bahnschrift;
        padding-left: 20px;
    }

    body, html {
        height: 100%;
    }

    body, html {
        /* The image used */
        background-image: url("../../Images/krakenimages-376KN_ISplE-unsplash.jpg");
        /* Full height */
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #error {
        color: red;
        font-weight: bold;
    }
    .allbutton {
        padding-left: 50px;
    }
    #pass{
        margin-right:27px;
    }
    #vergessen{
        margin-top:10px;
        margin-left:30px;
        color:blanchedalmond;
    }
    h1 
    {
           color:white;
           font-weight:bold;
           font-size:medium;
    }
</style>
@* HTML-Elements  *@
<body>
    <div class="all">
        <h2>Login</h2>


        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
            </div>
            <p>@Html.ValidationMessageFor(model => model.Email)</p>

            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div id="pass">
                    <label>Password</label>
                    @Html.EditorFor(model => model.Password)
                </div>

                <p>@Html.ValidationMessageFor(model => model.Password)</p>
            </div>

            <div class="allbutton">
                <input type="submit" id="button" class="btn" name="name" value="Login" />
                <a href="@Url.Action("Add", "Registieren")" class="btn btn-primary">Registieren</a>
                <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
            </div>
            <div id="vergessen">
                <h1>@Html.ActionLink("Password vergessen", "ForgotPassword", "Login")</h1>
            </div>
            <label id="error">@ViewBag.Error</label>

        }
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
